img{
    height: 200px;
}
button{
    color: rgb(255, 255, 255);
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.logo-mario{
    height: 500px;
}
body{
    display: flex;
    align-items: center;
    padding: 100px;
    height: 100vh;
    justify-content: space-between;
}
.caixa-principal{
    width: 50%;
}